.data {
    display: none;
}

.black {
    color: #000000;
}

.red {
    color: #ff5151;
}

.green {
    color: #69f0ad;
}

.yellow {
    color: #ffd73f;
}

.blue {
    color: #38a2d1;
}

.white {
    color: #fefefe;
}

.grey {
    color: #abb1b5;
}

.bg-black {
    background-color: #000000;
}

.bg-red {
    background-color: #ff5151;
}

.bg-green {
    background-color: #69f0ad;
}

.bg-yellow {
    background-color: #ffd73f;
}

.bg-blue {
    background-color: #38a2d1;
}

.bg-white {
    background-color: #fefefe;
}

p {
    color: #fff;
}

.window {
    background-color: #292a2b;
    font-family: monospace, monospace;
    font-size: 15px;
    box-shadow: 0 0 0 0 rgba(0,0,0,.3), 0 23px 38px 0 rgba(0,0,0,.43), 0 25px 65px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    max-width: 55vw;
    max-height: 70vh;
    margin: auto;
    margin-top: 15vh;
    padding-bottom: 10px;
    min-width: 850px;
    padding: 8px;
}

.titlebar {
    padding: 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titlebar .buttons {
    display: inline-block;
    position: absolute;
}

.titlebar span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
}

.titlebar .title-text {
    display: inline-block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    color: #d4d3d3;
}

.terminal {
    padding: 5px;
    height: calc( 70vh - 103px);
    display: block;
    overflow: hidden scroll;
    line-height: 18px;
}

.terminal::-webkit-scrollbar {
    width: 8px;
}

.terminal::-webkit-scrollbar-track {
    background: #363738;     
    border-radius: 5px;
}

.terminal::-webkit-scrollbar-thumb {
    background-color: #fefefe;
    border-radius: 20px;
}

.prompt {
    margin: 15px 0px 5px 0px;
    z-index: 1;
}

.prompt > span {
    padding: 1px 6px 2px 15px;
    background-color: #38a2d1;
    color: white;
}

.prompt > .host {
    color: #000;
    background-color: #fefefe;
}

.prompt > .host::after {
    color: #fff;
}

.prompt > .user {
    background-color: #ff5151;
}

.prompt > .user::after {
    color: #ff5151;
}

.prompt > .time {
    float:right;
    background-color: #fefefe;
    color: #000;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 0px;
}

.prompt > .time::after,
.prompt > .text::after,
.prompt > .cursor::after {
    content: '';
}

.prompt > .time::before{
    content: '\e0b2';
    padding-right: 0px;
    color: #fefefe;
    position: relative;
    margin-left: -20px;
    font-size: 20px;
    vertical-align: middle;
    font-family: terminal;
}


.prompt > .text {
    background-color:transparent;
    padding: 0px;
    padding-left: 20px;
    color: #fff;
}

.prompt > .cursor {
    background-color: rgba(255, 255, 255,1);
    animation: cursor 0.5s infinite;
    padding: 1px 5px;
    margin-left: 12px;
    display: inline-block;
}

.line {
    color: #fff;
    padding: 2px;
}

.prompt > span::after{
    content:'\e0b0';
    padding-left: 5px;
    margin-left: 0px;
    margin-right: -17px;
    font-size: 20px;
    color: #38a2d1;
    z-index: 0;
    position: relative;
    vertical-align: middle;
    font-family: terminal;
}

.terminal a{
    color: inherit;
}

.dp {
    width: 240px;
    margin: 10px;
    float: left;
    margin-right: 30px;
    padding-bottom: 50px;
}

.palette-block {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 4px -5px;
    padding: 0px;
}


.table {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

h3 {
    margin-left: 10px;
}

.table td {
    vertical-align: top;
    padding: 10px 0px;
}

.table tr {
}

.color-pallete > div {
    width: 20px;
    height: 20px;
    display: inline-block;
    content: ' ';
    margin: -4px;
    margin-top: 10px;
}

body {
    background: linear-gradient(45deg, #2f3e7f, #a5308b, #ea3348, #eb4d41, #4499da, #4195d8);
    background-size: 400% 400%;
    animation: bg-animation 10s ease-in-out infinite;
}

.loading {
    width: 400px;
    max-width: 85vw;
    top: 50%;
    left: 50%;
    position: absolute;
    height: 4px;
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
    transform: translate(-50%, 0px);
}
.loading:after {
    content: '';
    display: block;
    width: 75%;
    height: 4px;
    background: #fff;
    animation: load 8s linear;
    animation-iteration-count: 1;
}

.loading.done:after{
    width: 100%;
    animation: none;
}

@keyframes bg-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes cursor {
    0% {
        background-color: rgba(255, 255, 255,1); 
    }

    50% {
        background-color: rgba(255, 255, 255,0);
    }

    100% {
        background-color: rgba(255, 255, 255,1);
    }
}

@keyframes load {
    0% {
        width: 0;
    }
    10% {
        width: 5%;
    }
    20% {
        width: 15%;
    }
    30% {
        width: 25%;
    }
    40% {
        width: 30%;
    }
    50% {
        width: 44%;
    }
    60% {
        width: 50%;
    }
    70% {
        width: 75%;
    }
}

@font-face {
    font-family: terminal;
    src: url(../fonts/UbuntuMono.ttf);
}
@font-face {
    font-family: terminal;
    src: url(../fonts/UbuntuMono-bold.ttf);
    font-weight: bold;
}